.sec4{
    margin-top: 200px;
}
.sec4-title{
    display: flex;
    align-items: center;
}
.sec4-title img{
    padding-top: 60px;
    padding-right: 190px;
}
.sec4-text{
    margin-top: 15px;
    margin-left: 25px;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}
.sec4-cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.sec4-card1{
    text-align: center;
    width: 215px;
    height: 315px;
}
.sec4-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 120px;
    height: 120px;
    background: linear-gradient(99.01deg, #FF9200 4.22%, #FFCC00 108.35%), #20A0C9;
    border-radius: 100px;
}
.sec4-card1 h4{
    font-weight: 600;
    font-size: 16px;
}
.sec4-card1 p{
    font-size: 14px;
    color: #333333;
}
