.footer{
    margin-top: 60px;
    height: 882px;
    background: linear-gradient(180deg, #00549A 0%, #20A0C9 81.85%);
}
.footer-top{
    text-align: center;
    padding-top: 55px;
}
.footer-top h2{
    font-weight: bold;
    font-size: 52px;
    color: #FFFFFF;
    line-height: 5px;
}
.footer-top span{
    color: #FFCC00;
}
.footer-top p{
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}
.register-form{
    display: flex;
    flex-direction: column;
}
.input-box{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
input{
    font-size: 16px;
    color: #ABB7C1;
    padding-left: 20px;
    width: 315px;
    height: 55px;
    border-radius: 50px;
    border: none;
}
.register-form button{
    margin-top: 20px;
    margin-left: 485px;
    border: none;
    background: linear-gradient(99.01deg, #FF9200 4.22%, #FFCC00 108.35%);
    box-shadow: 0px 4px 5px #FF9200, 0px 10px 15px #1678AC;
    border-radius: 50px;
    width: 341px;
    height: 56px;
}
.register-form button{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.register-form button:hover{
    background: #FFCC00;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px #FF9200, 0px 10px 15px #1678AC;;
    color: #FFFFFF;
    transition: 0.9 ease;
}
hr{
    margin-bottom: 40px;
    margin-top: 80px;
    border: 1px solid #33B1DD;
}
.footer-bottom li{
    font-size: 16px;
    line-height: 250%;
    color: #FFFFFF;
    list-style-type: none;
}
.footer-bottom li:hover{
    color: #FFCC00;
}
.footer-link-top{
    margin-left: -60px;
    display: flex;
    justify-content: space-around;
}
.footer-link-bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 25px;
    line-height: 10px;
}
.footer-link-bottom li{
    line-height: 150%;
}
.footer-link-bottom ul{
    padding-right: 50px;
}
.footer-first p{
    color: #FFFFFF;
}
.footer-second{
    display: flex;
}
.footer-third li{
    line-height: 80%;
}
.footer-item-register p{
    font-weight: normal;
    font-size: 16px;
}
.footer-item-register span{
    font-size: 20px;
    font-weight: 600;
}
.footer-item-register2{
    padding-top: 15px;
    display: flex;
    align-items: center;
}
.footer-item-register2 img{
    padding-left: 15px;
}